*{
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background-color:black;
    color: white ;
    padding: 20px ;
}

body {
    background-color: royalblue;
}

img {
    width: 500px;
    height: 300px;
    display: flex ; 
    margin: 60px;
    float: right;
}
 
ul {
    font-size: medium;
    color: white;
    text-align: left;

}

h2 {
    margin: 30%;
    color: white;
    font-size: larger;
}

p {
    color: white;
    font-size: larger;
}
